{{#extend "widget-configuration-layout"}}
    {{#content "settings"}}
        <div class="row">
            <div class="cols-xs-12">
                <div class="form-group">
                    <label class="col-xs-4 control-label" for="chuck_category">Category</label>
                    <select name="chuck_category" class="form-control col-xs-8">
                        <option value="">All</option>
                        <option value="science">Science</option>
                        <option value="dev">Dev</option>
                    </select>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}