<div class="list-group-item" data-type="{{type}}">
    <h4 class="list-group-item-heading">
        {{description.title}}
        <i class="fa fa-plus pull-right" title="Hinzufügen"></i>
    </h4>
    <p class="list-group-item-text">{{description.description}}</p>
</div>